@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
/* line 5, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 104, icone/*.png */
.icone-sprite, .icone-chatw, .icone-handg, .icone-question, .icone-userw {
  background-image: url('/SimplonThomas/testsass/img/icone-sac13c1975a.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icone-chatw {
  background-position: 0 0;
  height: 50px;
  width: 50px;
}
/* line 59, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icone-chatw:hover, .icone-chatw.chatw-hover {
  background-position: 0 -50px;
}

/* line 84, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icone-handg {
  background-position: 0 -100px;
  height: 50px;
  width: 50px;
}
/* line 59, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icone-handg:hover, .icone-handg.handg-hover {
  background-position: 0 -150px;
}

/* line 84, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icone-question {
  background-position: 0 -200px;
  height: 50px;
  width: 50px;
}
/* line 59, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icone-question:hover, .icone-question.question-hover {
  background-position: 0 -250px;
}

/* line 84, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icone-userw {
  background-position: 0 -300px;
  height: 50px;
  width: 50px;
}
/* line 59, ../../../../../../var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icone-userw:hover, .icone-userw.userw-hover {
  background-position: 0 -350px;
}

@font-face {
  font-family: 'avengers';
  src: url("../font/Avengers.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 26, ../scss/style.scss */
:root {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

/* line 31, ../scss/style.scss */
h1 {
  font-family: 'avengers';
  font-size: 45px;
  text-shadow: 2px 2px 10px black;
  font-weight: 800;
  color: white;
}

/* line 39, ../scss/style.scss */
h3 {
  font-family: 'avengers';
  font-size: 25px;
  font-weight: 400;
}

/* line 45, ../scss/style.scss */
p {
  font-size: 22px;
}

/* line 49, ../scss/style.scss */
.center, .title, nav .button, .home .box, .buttonprolearn, .buttoninternhelp {
  justify-content: center;
  align-items: center;
}

/* line 54, ../scss/style.scss */
.title {
  color: white;
  background-image: url('/SimplonThomas/testsass/img/bgcode.jpg?1533133538');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(63vh - 75px);
  display: none;
  flex-direction: column;
}

/* line 64, ../scss/style.scss */
#slide-341-layer-11 {
  left: -42px !important;
}

/* line 68, ../scss/style.scss */
#slide-341-layer-2 {
  font-family: 'Open Sans', sans-serif;
}

/* line 73, ../scss/style.scss */
.fullscreen-container {
  height: calc(100vh - 100px) !important;
}

/* line 77, ../scss/style.scss */
.tp-fullwidth-forcer {
  height: calc(100vh - 100px) !important;
}

/* line 80, ../scss/style.scss */
.logores {
  width: 40%;
  display: none;
}
/* line 84, ../scss/style.scss */
.logores img {
  height: 90px;
}

/* line 89, ../scss/style.scss */
.logo {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
/* line 96, ../scss/style.scss */
.logo img {
  width: 460px;
  height: auto;
}

/* line 102, ../scss/style.scss */
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100px;
  background-color: #000000;
}
/* line 109, ../scss/style.scss */
nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
/* line 114, ../scss/style.scss */
nav .button {
  height: 65px;
  width: 190px;
  background-color: #E80041;
  display: flex;
  border-radius: 5px;
}

/* line 125, ../scss/style.scss */
.navbar {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
/* line 131, ../scss/style.scss */
.navbar a:hover {
  color: #E80041;
}

/* line 137, ../scss/style.scss */
.burger-menu {
  cursor: pointer;
  display: none;
}

/* line 144, ../scss/style.scss */
.bar {
  transition: 0.4s;
}

/* line 150, ../scss/style.scss */
.bar-1, .bar-2, .bar-3 {
  width: 5em;
  display: block;
  width: 40px;
  border-top: 6px solid white;
  padding-top: 5px;
  transition: 0.4s;
  cursor: pointer;
}

/* line 172, ../scss/style.scss */
.change .bar-1 {
  transform: rotate(-45deg) translate(-10px, 8px);
}
/* line 175, ../scss/style.scss */
.change .bar-2 {
  opacity: 0;
}
/* line 178, ../scss/style.scss */
.change .bar-3 {
  transform: rotate(45deg) translate(-10px, -5px);
}

/* line 182, ../scss/style.scss */
.menu {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
  text-align: center;
  position: absolute;
}
/* line 189, ../scss/style.scss */
.menu li {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
  border-bottom: 1px solid white;
}
/* line 195, ../scss/style.scss */
.menu li:hover {
  background-color: black;
}
/* line 198, ../scss/style.scss */
.menu li a {
  padding-top: 5px;
  text-decoration: none;
  color: white;
}

/* line 207, ../scss/style.scss */
.container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* line 215, ../scss/style.scss */
.i {
  display: none;
}

/* line 219, ../scss/style.scss */
.circular-menu {
  display: none;
  width: 75px;
  height: 200px;
  right: 0px;
  bottom: 100px;
  margin: 0 auto;
  position: fixed;
  z-index: 9999;
}

/* line 229, ../scss/style.scss */
.open.circle {
  opacity: 1;
  transform: scale(1);
}

/* line 234, ../scss/style.scss */
.circle {
  width: 116px;
  height: 200px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-out;
}
/* line 240, ../scss/style.scss */
.circle a {
  text-decoration: none;
  color: black;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -50px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
}
/* line 251, ../scss/style.scss */
.circle a:hover {
  color: #E80041;
}

/* line 258, ../scss/style.scss */
.menu-button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 50%;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  padding: 10px;
  background: black;
}
/* line 272, ../scss/style.scss */
.menu-button:hover {
  background-color: #E80041;
}

/* line 285, ../scss/style.scss */
.home {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
}
/* line 289, ../scss/style.scss */
.home .box {
  width: 25%;
  display: flex;
}
/* line 294, ../scss/style.scss */
.home .learn {
  background-color: #35345B;
  color: white;
}
/* line 297, ../scss/style.scss */
.home .project {
  background-color: #51508c;
  color: white;
}
/* line 300, ../scss/style.scss */
.home .internship {
  background-color: #E3E2D5;
  color: #858585;
}
/* line 303, ../scss/style.scss */
.home .help {
  background-color: #F3F3F3;
  color: #858585;
}

/* line 309, ../scss/style.scss */
.buttonprolearn, .buttoninternhelp {
  height: 60px;
  width: 190px;
  text-decoration: none;
  display: flex;
  transition: all 0.5s ease;
}

/* line 318, ../scss/style.scss */
.buttonprolearn {
  color: white;
  border: 2px solid white;
}
/* line 322, ../scss/style.scss */
.buttonprolearn:hover {
  background-color: white;
  color: #858585;
  border: 2px solid #858585;
}

/* line 329, ../scss/style.scss */
.buttoninternhelp {
  color: #858585;
  border: 2px solid #858585;
}
/* line 333, ../scss/style.scss */
.buttoninternhelp:hover {
  background-color: #858585;
  color: white;
  border: 2px solid white;
}

/* line 340, ../scss/style.scss */
footer {
  height: 100px;
  background-color: #2b2b2b;
  display: flex;
  font-size: 22px;
  flex-direction: row;
  justify-content: center;
  color: white;
}
/* line 348, ../scss/style.scss */
footer a {
  display: block;
  text-decoration: none;
  color: white;
}

/* line 356, ../scss/style.scss */
.footbody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
