<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Slider Tampon" />
<meta name="description" content="Tampon - Slider Revolution" />
<meta name="author" content="TAMPON" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>TAMPON / Slider Revolution</title>






<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400%7CRoboto:900%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
 




<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="revolution/css/revolution.addon.particles.css" media="screen" />
<link rel="stylesheet" type="text/css" href="revolution/css/rev-slider-arrow.css" media="screen" />











 
 
</head>

<body>
 
<div class="wrapper">








<!--=================================
 header -->


<!--=================================
 banner -->

 <section class="rev-slider">
  <div id="rev_slider_180_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery166" data-source="gallery" style="margin:0px auto;background:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3 fullwidth mode -->
  <div id="rev_slider_180_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3">
<ul>  <!-- SLIDE  -->
    <li data-index="rs-522" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/news-gallery166/100x50_69ccf-6.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="Science says that Women are generally happier">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/news-gallery166/69ccf-6.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
       id="slide-522-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="full"
      data-height="full"
      data-whitespace="normal"
 
            data-type="shape" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(0,0,0,0.35);"> </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption Newspaper-Title   tp-resizeme" 
       id="slide-522-layer-1" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
       data-y="['top','top','top','top']" data-voffset="['165','135','105','130']" 
            data-fontsize="['50','50','50','30']"
      data-lineheight="['55','55','55','35']"
      data-width="['600','600','600','420']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; letter-spacing: ;">Science says that Women are generally happier </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
       id="slide-522-layer-2" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
       data-y="['top','top','top','top']" data-voffset="['140','110','80','100']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; white-space: nowrap; letter-spacing: ;">A STUDY ON HAPPINESS </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption Newspaper-Button rev-btn " 
       id="slide-522-layer-5" 
       data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" 
       data-y="['top','top','top','top']" data-voffset="['361','331','301','245']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]'
      data-responsive_offset="on" 
      data-responsive="off"
            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bc:rgba(255,255,255,1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[35,35,35,35]"

            style="z-index: 8; white-space: nowrap; letter-spacing: px;border-color:rgba(255,255,255,0.25);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-523" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/news-gallery166/100x50_11318-163.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="THE REAL DEAL" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="Every right implies a responsibility.">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/news-gallery166/11318-163.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 5 -->
    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
       id="slide-523-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="full"
      data-height="full"
      data-whitespace="normal"
 
            data-type="shape" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(0,0,0,0.35);"> </div>

    <!-- LAYER NR. 6 -->
    <div class="tp-caption Newspaper-Title   tp-resizeme" 
       id="slide-523-layer-1" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
       data-y="['top','top','top','top']" data-voffset="['165','135','105','130']" 
            data-fontsize="['50','50','50','30']"
      data-lineheight="['55','55','55','35']"
      data-width="['600','600','600','420']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; letter-spacing: ;">Every right implies a responsibility. </div>

    <!-- LAYER NR. 7 -->
    <div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
       id="slide-523-layer-2" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
       data-y="['top','top','top','top']" data-voffset="['140','110','80','100']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; white-space: nowrap; letter-spacing: ;">THE REAL DEAL </div>

    <!-- LAYER NR. 8 -->
    <div class="tp-caption Newspaper-Button rev-btn " 
       id="slide-523-layer-5" 
       data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" 
       data-y="['top','top','top','top']" data-voffset="['361','331','301','245']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]'
      data-responsive_offset="on" 
      data-responsive="off"
            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bc:rgba(255,255,255,1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[35,35,35,35]"

            style="z-index: 8; white-space: nowrap; letter-spacing: px;border-color:rgba(255,255,255,0.25);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-524" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/news-gallery166/100x50_67187-15.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="NATURAL BEAUTY" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="There was never a night or a problem that could defeat sunrise or hope.">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/news-gallery166/67187-15.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 9 -->
    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
       id="slide-524-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="full"
      data-height="full"
      data-whitespace="normal"
 
            data-type="shape" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(0,0,0,0.35);"> </div>

    <!-- LAYER NR. 10 -->
    <div class="tp-caption Newspaper-Title   tp-resizeme" 
       id="slide-524-layer-1" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
       data-y="['top','top','top','top']" data-voffset="['165','135','105','130']" 
            data-fontsize="['50','50','50','30']"
      data-lineheight="['55','55','55','35']"
      data-width="['600','600','600','420']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; letter-spacing: ;">There was never a night or a problem that could defeat sunrise or hope. </div>

    <!-- LAYER NR. 11 -->
    <div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
       id="slide-524-layer-2" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
       data-y="['top','top','top','top']" data-voffset="['140','110','80','100']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; white-space: nowrap; letter-spacing: ;">NATURAL BEAUTY </div>

    <!-- LAYER NR. 12 -->
    <div class="tp-caption Newspaper-Button rev-btn " 
       id="slide-524-layer-5" 
       data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" 
       data-y="['top','top','top','top']" data-voffset="['361','331','301','245']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]'
      data-responsive_offset="on" 
      data-responsive="off"
            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bc:rgba(255,255,255,1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[35,35,35,35]"

            style="z-index: 8; white-space: nowrap; letter-spacing: px;border-color:rgba(255,255,255,0.25);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-525" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/news-gallery166/100x50_9fc91-35.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="WORDS OF WISDOM" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="Walking with a friend in the dark is better than alone in the light.">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/news-gallery166/9fc91-35.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 13 -->
    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
       id="slide-525-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="full"
      data-height="full"
      data-whitespace="normal"
 
            data-type="shape" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(0,0,0,0.35);"> </div>

    <!-- LAYER NR. 14 -->
    <div class="tp-caption Newspaper-Title   tp-resizeme" 
       id="slide-525-layer-1" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
       data-y="['top','top','top','top']" data-voffset="['165','135','105','130']" 
            data-fontsize="['50','50','50','30']"
      data-lineheight="['55','55','55','35']"
      data-width="['600','600','600','420']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; letter-spacing: ;">Walking with a friend in the dark is better than alone in the light. </div>

    <!-- LAYER NR. 15 -->
    <div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
       id="slide-525-layer-2" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" 
       data-y="['top','top','top','top']" data-voffset="['140','110','80','100']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; white-space: nowrap; letter-spacing: ;">WORDS OF WISDOM </div>

    <!-- LAYER NR. 16 -->
    <div class="tp-caption Newspaper-Button rev-btn " 
       id="slide-525-layer-5" 
       data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" 
       data-y="['top','top','top','top']" data-voffset="['361','331','301','245']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-responsive_offset="on" 
      data-responsive="off"
            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bc:rgba(255,255,255,1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[35,35,35,35]"

            style="z-index: 8; white-space: nowrap; letter-spacing: ;border-color:rgba(255,255,255,0.25);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>
  </li>
</ul>
<div class="tp-bannertimer tp-bottom" style="height: 5px; background: rgba(166,216,236,1);"></div>  </div>
</div>
</section>



 
 </div>
 


 
<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="revolution/js/revolution.addon.particles.min.js"></script>

<!-- revolution custom --> 
<script src="revolution/js/revolution-custom.js"></script> 

<!-- custom -->
<script src="js/custom.js"></script>

 

<script type="text/javascript">
                  var revapi180,
                tpj=jQuery;
            tpj(document).ready(function() {
        if(tpj("#rev_slider_180_1").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_180_1");
        }else{
          revapi180 = tpj("#rev_slider_180_1").show().revolution({
            sliderType:"standard",
jsFileLocation:"//localhost/revslider-standalone/revslider/public/assets/js/",
            sliderLayout:"fullwidth",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
              keyboardNavigation:"on",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
                             mouseScrollReverse:"default",
              onHoverStop:"on",
              touch:{
                touchenabled:"on",
                touchOnDesktop:"off",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              arrows: {
                style:"gyges",
                enable:true,
                hide_onmobile:false,
                hide_over:778,
                hide_onleave:false,
                tmp:'',
                left: {
                  h_align:"right",
                  v_align:"bottom",
                  h_offset:40,
                                    v_offset:0
                },
                right: {
                  h_align:"right",
                  v_align:"bottom",
                  h_offset:0,
                                    v_offset:0
                }
              }
              ,
              tabs: {
                style:"erinyen",
                enable:true,
                width:250,
                height:100,
                min_width:250,
                wrapper_padding:0,
                wrapper_color:"transparent",
                tmp:'<div class="tp-tab-title">{{title}}</div><div class="tp-tab-desc">{{description}}</div>',
                visibleAmount: 3,
                hide_onmobile: true,
                hide_under:778,
                hide_onleave:false,
                hide_delay:200,
                direction:"vertical",
                span:false,
                position:"inner",
                space:10,
                h_align:"right",
                v_align:"center",
                h_offset:30,
                                v_offset:0
              }
            },
            viewPort: {
              enable:true,
              outof:"pause",
                            visible_area:"80%",
                            presize:false
            },
            responsiveLevels:[1240,1024,778,480],
            visibilityLevels:[1240,1024,778,480],
            gridwidth:[1240,1024,778,480],
            gridheight:[900,450,400,350],
            lazyType:"none",
            parallax: {
              type:"scroll",
              origo:"enterpoint",
              speed:400,
                          speedbg:0,
                          speedls:0,
              levels:[5,10,15,20,25,30,35,40,45,50,47,48,49,50,51,55],
            },
            shadow:0,
            spinner:"off",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
        }
      }); /*ready*/
    </script>
 
</body>
</html>

