<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Slider Tampon" />
<meta name="description" content="Tampon - Slider Revolution" />
<meta name="author" content="TAMPON" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>TAMPON / Slider Revolution</title>






 




<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />

<link rel="stylesheet" type="text/css" href="revolution/css/rev-slider-arrow.css" media="screen" />











 
 
</head>

<body>
 
<div class="wrapper">








<!--=================================
 header -->


<!--=================================
 banner -->

 <section class="rev-slider">
  <div id="rev_slider_30_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="mask-showcase" data-source="gallery" style="background:#aaaaaa;padding:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3 fullscreen mode -->
  <div id="rev_slider_30_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.6.3">
<ul>  <!-- SLIDE  -->
    <li data-index="rs-76" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/mask-showcase/transparent.png" data-bgcolor='linear-gradient(180deg, rgba(255,94,58,1) 0%, rgba(255,42,104,1) 100%)' style='background:linear-gradient(180deg, rgba(255,94,58,1) 0%, rgba(255,42,104,1) 100%)' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption rev-btn  tp-resizeme" 
       id="slide-76-layer-4" 
       data-x="['left','left','left','left']" data-hoffset="['170','120','70','40']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" 
            data-width="none"
      data-height="none"
      data-whitespace="normal"
 
            data-type="button" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":1000,"sfxcolor":"#84ba3f","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[30,30,30,30]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[30,30,30,30]"

            style="z-index: 5; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:Roboto Condensed;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Purchase  </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-76-layer-8" 
       data-x="['left','left','left','left']" data-hoffset="['621','621','621','621']" 
       data-y="['top','top','top','top']" data-voffset="['151','151','151','151']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="image" 
      data-responsive_offset="on" 

            data-frames='[{"delay":400,"speed":750,"sfxcolor":"#2f3b4a","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;"><img src="revolution/assets/demo/mask-showcase/58918-samll-.jpg" alt="" data-ww="['1000px','1000px','1000px','1000px']" data-hh="['563px','563px','563px','563px']" data-no-retina> </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-76-layer-3" 
       data-x="['left','left','left','left']" data-hoffset="['150','100','50','20']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']" 
            data-fontsize="['26','20','20','20']"
      data-width="none"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":300,"speed":750,"sfxcolor":"#84ba3f","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 7; white-space: normal; font-size: 26px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:Roboto Condensed;">Tampon </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-76-layer-2" 
       data-x="['left','left','left','left']" data-hoffset="['150','100','50','20']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" 
            data-fontsize="['70','70','70','50']"
      data-lineheight="['70','70','70','50']"
      data-width="['650','650','620','380']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":200,"speed":750,"sfxcolor":"#84ba3f","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[20,20,20,20]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[30,30,30,30]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; line-height: 70px; font-weight: 400; color: #ffffff; letter-spacing: -2px;font-family:Playfair Display;">We truly care about our users and our product. </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-77" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/mask-showcase/transparent.png" data-bgcolor='linear-gradient(180deg, rgba(26,214,253,1) 0%, rgba(29,98,240,1) 100%)' style='background:linear-gradient(180deg, rgba(26,214,253,1) 0%, rgba(29,98,240,1) 100%)' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 5 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
       id="slide-77-layer-1" 
       data-x="['center','center','center','center']" data-hoffset="['-500','-500','-390','-220']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="image" 
      data-responsive_offset="on" 

            data-frames='[{"delay":200,"speed":750,"sfxcolor":"#243949","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;"><img src="revolution/assets/demo/mask-showcase/b9fb0-s03.jpg" alt="" data-ww="['1000px','1000px','800px','500px']" data-hh="['563px','563px','450px','281px']" data-no-retina> </div>

    <!-- LAYER NR. 6 -->
    <div class="tp-caption rev-btn  tp-resizeme" 
       id="slide-77-layer-4" 
       data-x="['left','left','left','left']" data-hoffset="['890','760','600','330']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" 
            data-width="none"
      data-height="none"
      data-whitespace="normal"
 
            data-type="button" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[30,30,30,30]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[30,30,30,30]"

            style="z-index: 6; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:Roboto Condensed;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Purchase </div>

    <!-- LAYER NR. 7 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-77-layer-3" 
       data-x="['left','left','left','left']" data-hoffset="['860','700','540','270']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']" 
            data-fontsize="['26','20','20','20']"
      data-width="none"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":400,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 7; white-space: normal; font-size: 26px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:Roboto Condensed;">Tampon </div>

    <!-- LAYER NR. 8 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-77-layer-2" 
       data-x="['left','left','left','left']" data-hoffset="['360','240','110','80']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" 
            data-fontsize="['70','70','70','50']"
      data-lineheight="['70','70','70','50']"
      data-width="['650','650','620','380']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":300,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['right','right','right','right']"
            data-paddingtop="[20,20,20,20]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[30,30,30,30]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; line-height: 70px; font-weight: 400; color: #ffffff; letter-spacing: -2px;font-family:Playfair Display;">We truly care about our users and our product. </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-78" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/mask-showcase/transparent.png" data-bgcolor='linear-gradient(180deg, rgba(209,61,20,1) 0%, rgba(46,65,150,1) 100%)' style='background:linear-gradient(180deg, rgba(209,61,20,1) 0%, rgba(46,65,150,1) 100%)' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 9 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-78-layer-5" 
       data-x="['left','left','left','left']" data-hoffset="['119','119','119','119']" 
       data-y="['top','top','top','top']" data-voffset="['408','408','408','408']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="image" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":760,"sfxcolor":"#84ba3f","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;"><img src="revolution/assets/demo/mask-showcase/89045-s05.jpg" alt="" data-ww="['1002px','1002px','1002px','1002px']" data-hh="['564px','564px','564px','564px']" data-no-retina> </div>

    <!-- LAYER NR. 10 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-78-layer-2" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-90']" 
            data-fontsize="['70','70','70','50']"
      data-lineheight="['70','70','70','50']"
      data-width="['650','650','620','380']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":200,"speed":760,"sfxcolor":"#058a9b","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[20,20,20,20]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[30,30,30,30]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 6; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; line-height: 70px; font-weight: 400; color: #ffffff; letter-spacing: -2px;font-family:Playfair Display;">Take Your Website To New Heights With Tampon </div>

    <!-- LAYER NR. 11 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-78-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-247','-247','-247','-217']" 
            data-width="none"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":300,"speed":760,"sfxcolor":"#058a9b","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:Roboto Condensed;">Tampon </div>

    <!-- LAYER NR. 12 -->
    <div class="tp-caption rev-btn  tp-resizeme" 
       id="slide-78-layer-4" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','50']" 
            data-width="none"
      data-height="none"
      data-whitespace="normal"
 
            data-type="button" 
      data-responsive_offset="on" 

            data-frames='[{"delay":400,"speed":760,"sfxcolor":"#058a9b","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[30,30,30,30]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[30,30,30,30]"

            style="z-index: 8; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:Roboto Condensed;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Purchase </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-79" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/mask-showcase/transparent.png" data-bgcolor='linear-gradient(140deg, rgba(252,58,187,1) 0%, rgba(0,79,68,1) 100%)' style='background:linear-gradient(140deg, rgba(252,58,187,1) 0%, rgba(0,79,68,1) 100%)' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 13 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
       id="slide-79-layer-1" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-255','-255','-265','-185']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="image" 
      data-responsive_offset="on" 

            data-frames='[{"delay":200,"speed":760,"sfxcolor":"#231557","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;"><img src="revolution/assets/demo/mask-showcase/f0b2f-s04.jpg" alt="" data-ww="['1000px','1000px','800px','800px']" data-hh="['563px','563px','450px','450px']" data-no-retina> </div>

    <!-- LAYER NR. 14 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-79-layer-2" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['100','100','50','96']" 
            data-fontsize="['70','70','70','50']"
      data-lineheight="['70','70','70','50']"
      data-width="['650','650','620','380']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":300,"speed":760,"sfxcolor":"#ff1361","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[20,20,20,20]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[30,30,30,30]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 6; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; line-height: 70px; font-weight: 400; color: #ffffff; letter-spacing: -2px;font-family:Playfair Display;">Take Your Website To New Heights With Tampon </div>

    <!-- LAYER NR. 15 -->
    <div class="tp-caption   tp-resizeme" 
       id="slide-79-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-47','-47','-97','-57']" 
            data-width="none"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":400,"speed":760,"sfxcolor":"#ff1361","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:Roboto Condensed;">Tampon </div>

    <!-- LAYER NR. 16 -->
    <div class="tp-caption rev-btn  tp-resizeme" 
       id="slide-79-layer-4" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['280','280','230','260']" 
            data-width="none"
      data-height="none"
      data-whitespace="normal"
 
            data-type="button" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":760,"sfxcolor":"#ff1361","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[30,30,30,30]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[30,30,30,30]"

            style="z-index: 8; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:Roboto Condensed;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Purchase </div>
  </li>
</ul>
<div class="tp-bannertimer" style="height: 10px; background: rgba(0,0,0,0.15);"></div>  </div>
</div>

 
</section>



 
 </div>
 


 
<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- custom -->
<script src="js/custom.js"></script>

 

 

<script type="text/javascript">
                  var revapi30,
                tpj=jQuery;
            tpj(document).ready(function() {
        if(tpj("#rev_slider_30_1").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_30_1");
        }else{
          revapi30 = tpj("#rev_slider_30_1").show().revolution({
            sliderType:"standard",
jsFileLocation:"//localhost/revslider-standalone/revslider/public/revolution/assets/demo/mask-showcase/js/",
            sliderLayout:"fullscreen",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
                             mouseScrollReverse:"default",
              onHoverStop:"off",
              touch:{
                touchenabled:"on",
                touchOnDesktop:"off",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              arrows: {
                style:"uranus",
                enable:true,
                hide_onmobile:true,
                hide_under:778,
                hide_onleave:false,
                tmp:'',
                left: {
                  h_align:"left",
                  v_align:"center",
                  h_offset:15,
                                    v_offset:0
                },
                right: {
                  h_align:"right",
                  v_align:"center",
                  h_offset:15,
                                    v_offset:0
                }
              }
              ,
              bullets: {
                enable:true,
                hide_onmobile:false,
                style:"bullet-bar",
                hide_onleave:false,
                direction:"horizontal",
                h_align:"center",
                v_align:"bottom",
                h_offset:0,
                v_offset:30,
                                space:5,
                tmp:''
              }
            },
            responsiveLevels:[1240,1024,778,480],
            visibilityLevels:[1240,1024,778,480],
            gridwidth:[1240,1024,778,480],
            gridheight:[868,768,960,720],
            lazyType:"none",
            parallax: {
              type:"scroll",
              origo:"slidercenter",
              speed:2000,
                          speedbg:0,
                          speedls:0,
              levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
            },
            shadow:0,
            spinner:"off",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            fullScreenAutoWidth:"off",
            fullScreenAlignForce:"off",
            fullScreenOffsetContainer: "",
            fullScreenOffset: "60px",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
revapi30.bind("revolution.slide.onloaded",function (e) {
  revapi30.addClass("tiny_bullet_slider");
});       }
      }); /*ready*/
    </script>
 
</body>
</html>

