<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Slider Tampon" />
<meta name="description" content="Tampon - Slider Revolution" />
<meta name="author" content="TAMPON" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>TAMPON / Slider Revolution</title>






<link href="http://fonts.googleapis.com/css?family=Yellowtail:400%7CMontserrat:700" rel="stylesheet" property="stylesheet" type="text/css" media="all">

 




<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="revolution/css/rev-slider-arrow.css" media="screen" />











 
 
</head>

<body>
 
<div class="wrapper">








<!--=================================
 header -->


<!--=================================
 banner -->

 <section class="rev-slider">
<div id="rev_slider_86_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="magazine-posts" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3 fullwidth mode -->
  <div id="rev_slider_86_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3">
<ul>  <!-- SLIDE  -->
    <li data-index="rs-204" data-transition="slideremovevertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/magazine-posts/dummy.png" data-bgcolor='#eeeeee' style='background:#eeeeee' alt=""  data-lazyload="revolution/assets/demo/magazine-posts/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  tp-largeshadow" 
       id="slide-204-layer-8" 
       data-x="['center','center','center','center']" data-hoffset="['0','1','1','942']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-63']" 
            data-width="['1228','920','920','798']"
      data-height="['798','598','598','518']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1250,"speed":2000,"frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:0.8;sY:0.8;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(196,162,110,1);"> </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-10" 
       id="slide-204-layer-1" 
       data-x="['center','center','center','center']" data-hoffset="['-308','-230','-230','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="image" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:bottom;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;"><img src="revolution/assets/demo/magazine-posts/dummy.png" alt="" data-ww="['615px','461px','461px','538px']" data-hh="['800px','600px','600px','700px']" data-lazyload="revolution/assets/demo/magazine-posts/c2fe7-book-cover.jpg" data-no-retina> </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-10" 
       id="slide-204-layer-11" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','698']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-40']" 
            data-width="['615','461','461','400']"
      data-height="['800','600','600','520']"
      data-whitespace="nowrap"
      data-visibility="['on','on','on','off']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7;background-color:rgba(229,229,229,1);"> </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-11" 
       id="slide-204-layer-10" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','719']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-24']" 
            data-width="['615','461','461','400']"
      data-height="['800','600','600','520']"
      data-whitespace="nowrap"
      data-visibility="['on','on','on','off']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8;background-color:rgba(245,245,245,1);"> </div>

    <!-- LAYER NR. 5 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-12" 
       id="slide-204-layer-2" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="['615','461','461','420']"
      data-height="['800','600','600','650']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 9;background-color:rgba(255,255,255,1);"> </div>

    <!-- LAYER NR. 6 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-13" 
       id="slide-204-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-315','-246','-246','-270']" 
            data-width="['615','461','461','420']"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 10; min-width: 615px; max-width: 615px; white-space: nowrap; font-size: 13px; line-height: 13px; font-weight: 900; color: rgba(196,162,110,1); letter-spacing: px;font-family:Roboto;text-transform:uppercase;letter-spacing:3px;">multipurpose template </div>

    <!-- LAYER NR. 7 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-14" 
       id="slide-204-layer-4" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-179','-141','-141','-154']" 
            data-fontsize="['30','25','25','30']"
      data-lineheight="['50','40','40','50']"
      data-width="['615','461','461','420']"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":2500,"frame":"0","from":"x:-50px;skX:5px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 11; min-width: 615px; max-width: 615px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: rgba(0,0,0,1); letter-spacing: px;font-family:Roboto;text-transform:uppercase;letter-spacing:7px;">Let's make <br/>something great<br/> together </div>

    <!-- LAYER NR. 8 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-13" 
       id="slide-204-layer-5" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-46','-40','-40','-41']" 
            data-width="100"
      data-height="6"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"sX:0;","mask":"x:0;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"y:[-100%];opacity:0;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 12;background-color:rgba(196,162,110,1);"> </div>

    <!-- LAYER NR. 9 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-13" 
       id="slide-204-layer-6" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['55','76','76','91']" 
            data-width="['460','380','380','320']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 13; min-width: 460px; max-width: 460px; white-space: normal; font-size: 18px; line-height: 30px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: px;font-family:Roboto;">Tampon has powerful options & tools, unlimited designs, responsive framework and amazing support. We are dedicated to providing you with the best experience possible.... </div>

    <!-- LAYER NR. 10 -->
    <div class="tp-caption rev-btn  tp-resizeme rs-parallaxlevel-13" 
       id="slide-204-layer-7" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['228','224','224','253']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"y:20px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"150","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(196,162,110,1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[40,40,40,40]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[40,40,40,40]"

            style="z-index: 14; white-space: nowrap; font-size: 14px; line-height: 40px; font-weight: 900; color: rgba(196,162,110,1); letter-spacing: ;font-family:Roboto;border-color:rgba(196,162,110,1);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:3px;cursor:pointer;">KEEP READING </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-205" data-transition="slideremovevertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/magazine-posts/dummy.png" data-bgcolor='#eeeeee' style='background:#eeeeee' alt=""  data-lazyload="revolution/assets/demo/magazine-posts/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 11 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  tp-largeshadow" 
       id="slide-205-layer-8" 
       data-x="['center','center','center','center']" data-hoffset="['0','1','1','942']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-63']" 
            data-width="['1228','920','920','798']"
      data-height="['798','598','598','518']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1250,"speed":2000,"frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:0.8;sY:0.8;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(196,162,110,1);"> </div>

    <!-- LAYER NR. 12 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-10 tp-videolayer" 
       id="slide-205-layer-12" 
       data-x="['center','center','center','center']" data-hoffset="['-308','-230','-230','599']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-4']" 
            data-whitespace="nowrap"
      data-visibility="['on','on','on','off']"
 
            data-type="video" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:bottom;opacity:0;","ease":"Power3.easeInOut"}]'
 data-ytid="cJg_tPB0Nu0" data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;volume=100&hd=1&wmode=opaque&showinfo=0&rel=0;;origin=http://localhost;" data-videorate="1" data-videowidth="['615px','461px','461px','461px']" data-videoheight="['800px','600px','600px','600px']" data-videocontrols="controls" data-videoloop="none"            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
      data-autoplay="off" 
      data-volume="100"     data-allowfullscreenvideo="true" 

            style="z-index: 6;"> </div>

    <!-- LAYER NR. 13 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-10" 
       id="slide-205-layer-11" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','698']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-40']" 
            data-width="['615','461','461','400']"
      data-height="['800','600','600','520']"
      data-whitespace="nowrap"
      data-visibility="['on','on','on','off']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7;background-color:rgba(229,229,229,1);"> </div>

    <!-- LAYER NR. 14 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-11" 
       id="slide-205-layer-10" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','719']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-24']" 
            data-width="['615','461','461','400']"
      data-height="['800','600','600','520']"
      data-whitespace="nowrap"
      data-visibility="['on','on','on','off']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8;background-color:rgba(245,245,245,1);"> </div>

    <!-- LAYER NR. 15 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-12" 
       id="slide-205-layer-2" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="['615','461','461','420']"
      data-height="['800','600','600','650']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 9;background-color:rgba(255,255,255,1);"> </div>

    <!-- LAYER NR. 16 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-13" 
       id="slide-205-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-315','-246','-246','-270']" 
            data-width="['615','461','461','420']"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 10; min-width: 615px; max-width: 615px; white-space: nowrap; font-size: 13px; line-height: 13px; font-weight: 900; color: rgba(196,162,110,1); letter-spacing: px;font-family:Roboto;text-transform:uppercase;letter-spacing:3px;">multipurpose template </div>

    <!-- LAYER NR. 17 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-14" 
       id="slide-205-layer-4" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-179','-141','-141','-154']" 
            data-fontsize="['30','25','25','30']"
      data-lineheight="['50','40','40','50']"
      data-width="['615','461','461','420']"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":2500,"frame":"0","from":"x:-50px;skX:5px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 11; min-width: 615px; max-width: 615px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: rgba(0,0,0,1); letter-spacing: px;font-family:Roboto;text-transform:uppercase;letter-spacing:7px;">Creative Digital <br/>Agency For<br/> Smart Solutions </div>

    <!-- LAYER NR. 18 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-13" 
       id="slide-205-layer-5" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-46','-40','-40','-41']" 
            data-width="100"
      data-height="6"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"sX:0;","mask":"x:0;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"y:[-100%];opacity:0;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 12;background-color:rgba(196,162,110,1);"> </div>

    <!-- LAYER NR. 19 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-13" 
       id="slide-205-layer-6" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['70','92','92','106']" 
            data-width="['460','380','380','320']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 13; min-width: 460px; max-width: 460px; white-space: normal; font-size: 18px; line-height: 30px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: px;font-family:Roboto;">Tampon has powerful options & tools, unlimited designs, responsive framework and amazing support. We are dedicated to providing you with the best experience possible. .. </div>

    <!-- LAYER NR. 20 -->
    <a class="tp-caption rev-btn  tp-resizeme rs-parallaxlevel-13" 
 href="https://www.youtube.com/user/PotenzaGlobal" target="_blank"       id="slide-205-layer-7" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['228','224','224','253']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions=''
      data-responsive_offset="on" 

            data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"y:20px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"150","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(196,162,110,1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[40,40,40,40]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[40,40,40,40]"

            style="z-index: 14; white-space: nowrap; font-size: 14px; line-height: 40px; font-weight: 900; color: rgba(196,162,110,1); letter-spacing: px;font-family:Roboto;border-color:rgba(196,162,110,1);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:3px;cursor:pointer;text-decoration: none;">WATCH ON YOUTUBE </a>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-206" data-transition="slideremovevertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/magazine-posts/dummy.png" data-bgcolor='#eeeeee' style='background:#eeeeee' alt=""  data-lazyload="revolution/assets/demo/magazine-posts/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 21 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  tp-largeshadow" 
       id="slide-206-layer-8" 
       data-x="['center','center','center','center']" data-hoffset="['0','1','1','942']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-63']" 
            data-width="['1228','920','920','798']"
      data-height="['798','598','598','518']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1250,"speed":2000,"frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:0.8;sY:0.8;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(196,162,110,1);"> </div>

    <!-- LAYER NR. 22 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-10" 
       id="slide-206-layer-1" 
       data-x="['center','center','center','center']" data-hoffset="['-308','-230','-230','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="image" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:bottom;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;"><img src="revolution/assets/demo/magazine-posts/dummy.png" alt="" data-ww="['615px','461px','461px','538px']" data-hh="['800px','600px','600px','700px']" data-lazyload="revolution/assets/demo/magazine-posts/post2.jpg" data-no-retina> </div>

    <!-- LAYER NR. 23 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-10" 
       id="slide-206-layer-11" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','698']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-40']" 
            data-width="['615','461','461','400']"
      data-height="['800','600','600','520']"
      data-whitespace="nowrap"
      data-visibility="['on','on','on','off']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7;background-color:rgba(229,229,229,1);"> </div>

    <!-- LAYER NR. 24 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-11" 
       id="slide-206-layer-10" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','719']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-24']" 
            data-width="['615','461','461','400']"
      data-height="['800','600','600','520']"
      data-whitespace="nowrap"
      data-visibility="['on','on','on','off']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8;background-color:rgba(245,245,245,1);"> </div>

    <!-- LAYER NR. 25 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-12" 
       id="slide-206-layer-2" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="['615','461','461','420']"
      data-height="['800','600','600','650']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 9;background-color:rgba(255,255,255,1);"> </div>

    <!-- LAYER NR. 26 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-13" 
       id="slide-206-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-315','-246','-246','-270']" 
            data-width="['615','461','461','420']"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 10; min-width: 615px; max-width: 615px; white-space: nowrap; font-size: 13px; line-height: 13px; font-weight: 900; color: rgba(196,162,110,1); letter-spacing: px;font-family:Roboto;text-transform:uppercase;letter-spacing:3px;">multipurpose template </div>

    <!-- LAYER NR. 27 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-14" 
       id="slide-206-layer-4" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-179','-141','-141','-154']" 
            data-fontsize="['30','25','25','30']"
      data-lineheight="['50','40','40','50']"
      data-width="['615','461','461','420']"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":2500,"frame":"0","from":"x:-50px;skX:5px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 11; min-width: 615px; max-width: 615px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: rgba(0,0,0,1); letter-spacing: px;font-family:Roboto;text-transform:uppercase;letter-spacing:7px;">Lets get <br/>started with<br/> the Tampon! </div>

    <!-- LAYER NR. 28 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-13" 
       id="slide-206-layer-5" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-46','-40','-40','-41']" 
            data-width="100"
      data-height="6"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"sX:0;","mask":"x:0;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"y:[-100%];opacity:0;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 12;background-color:rgba(196,162,110,1);"> </div>

    <!-- LAYER NR. 29 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-13" 
       id="slide-206-layer-6" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['71','76','76','91']" 
            data-width="['460','380','380','320']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 13; min-width: 460px; max-width: 460px; white-space: normal; font-size: 18px; line-height: 30px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: px;font-family:Roboto;">Tampon has powerful options & tools, unlimited designs, responsive framework and amazing support. We are dedicated to providing you with the best experience possible. Purchase Tampon to find out why the sky's the limit when using Tampon. </div>

    <!-- LAYER NR. 30 -->
    <div class="tp-caption rev-btn  tp-resizeme rs-parallaxlevel-13" 
       id="slide-206-layer-7" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['228','224','224','253']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"y:20px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"150","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(196,162,110,1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[40,40,40,40]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[40,40,40,40]"

            style="z-index: 14; white-space: nowrap; font-size: 14px; line-height: 40px; font-weight: 900; color: rgba(196,162,110,1); letter-spacing: ;font-family:Roboto;border-color:rgba(196,162,110,1);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:3px;cursor:pointer;">KEEP READING </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-207" data-transition="slideremovevertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/magazine-posts/dummy.png" data-bgcolor='#eeeeee' style='background:#eeeeee' alt=""  data-lazyload="revolution/assets/demo/magazine-posts/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 31 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  tp-largeshadow" 
       id="slide-207-layer-8" 
       data-x="['center','center','center','center']" data-hoffset="['0','1','1','942']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-63']" 
            data-width="['1228','920','920','798']"
      data-height="['798','598','598','518']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1250,"speed":2000,"frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:0.8;sY:0.8;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(196,162,110,1);"> </div>

    <!-- LAYER NR. 32 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-10" 
       id="slide-207-layer-1" 
       data-x="['center','center','center','center']" data-hoffset="['-308','-230','-230','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="image" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:bottom;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;"><img src="revolution/assets/demo/magazine-posts/dummy.png" alt="" data-ww="['615px','461px','461px','538px']" data-hh="['800px','600px','600px','700px']" data-lazyload="revolution/assets/demo/magazine-posts/post3.jpg" data-no-retina> </div>

    <!-- LAYER NR. 33 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-10" 
       id="slide-207-layer-11" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','698']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-40']" 
            data-width="['615','461','461','400']"
      data-height="['800','600','600','520']"
      data-whitespace="nowrap"
      data-visibility="['on','on','on','off']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7;background-color:rgba(229,229,229,1);"> </div>

    <!-- LAYER NR. 34 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-11" 
       id="slide-207-layer-10" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','719']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-24']" 
            data-width="['615','461','461','400']"
      data-height="['800','600','600','520']"
      data-whitespace="nowrap"
      data-visibility="['on','on','on','off']"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8;background-color:rgba(245,245,245,1);"> </div>

    <!-- LAYER NR. 35 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-12" 
       id="slide-207-layer-2" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
            data-width="['615','461','461','420']"
      data-height="['800','600','600','650']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:top;opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 9;background-color:rgba(255,255,255,1);"> </div>

    <!-- LAYER NR. 36 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-13" 
       id="slide-207-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-315','-246','-246','-270']" 
            data-width="['615','461','461','420']"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 10; min-width: 615px; max-width: 615px; white-space: nowrap; font-size: 13px; line-height: 13px; font-weight: 900; color: rgba(196,162,110,1); letter-spacing: px;font-family:Roboto;text-transform:uppercase;letter-spacing:3px;">multipurpose template </div>

    <!-- LAYER NR. 37 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-14" 
       id="slide-207-layer-4" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-179','-141','-141','-154']" 
            data-fontsize="['30','25','25','30']"
      data-lineheight="['50','40','40','50']"
      data-width="['615','461','461','420']"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":2500,"frame":"0","from":"x:-50px;skX:5px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 11; min-width: 615px; max-width: 615px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: rgba(0,0,0,1); letter-spacing: px;font-family:Roboto;text-transform:uppercase;letter-spacing:7px;">Creative Digital <br/>Agency  For <br/> Smart Solutions </div>

    <!-- LAYER NR. 38 -->
    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-13" 
       id="slide-207-layer-5" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['-46','-40','-40','-41']" 
            data-width="100"
      data-height="6"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"sX:0;","mask":"x:0;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"y:[-100%];opacity:0;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 12;background-color:rgba(196,162,110,1);"> </div>

    <!-- LAYER NR. 39 -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-13" 
       id="slide-207-layer-6" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['56','76','76','91']" 
            data-width="['460','380','380','320']"
      data-height="none"
      data-whitespace="normal"
 
            data-type="text" 
      data-responsive_offset="on" 

            data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 13; min-width: 460px; max-width: 460px; white-space: normal; font-size: 18px; line-height: 30px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: px;font-family:Roboto;">Tampon has powerful options & tools, unlimited designs, responsive framework and amazing support. We are dedicated to providing you with the best experience possible. Purchase Tampon to find out why the sky's the limit when using Tampon. </div>

    <!-- LAYER NR. 40 -->
    <div class="tp-caption rev-btn  tp-resizeme rs-parallaxlevel-13" 
       id="slide-207-layer-7" 
       data-x="['center','center','center','center']" data-hoffset="['307','231','231','0']" 
       data-y="['middle','middle','middle','middle']" data-voffset="['228','224','224','253']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-responsive_offset="on" 

            data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"y:20px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"150","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(196,162,110,1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[40,40,40,40]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[40,40,40,40]"

            style="z-index: 14; white-space: nowrap; font-size: 14px; line-height: 40px; font-weight: 900; color: rgba(196,162,110,1); letter-spacing: ;font-family:Roboto;border-color:rgba(196,162,110,1);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:3px;cursor:pointer;">KEEP READING </div>
  </li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
</div>
</section>



 
 </div>
 


 
<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="revolution/js/revolution.addon.particles.min.js"></script>


<!-- revolution custom --> 
<script src="revolution/js/revolution-custom.js"></script> 

<!-- custom -->
<script src="js/custom.js"></script>

 

<script type="text/javascript">
                  var revapi86,
                tpj=jQuery;
            tpj(document).ready(function() {
        if(tpj("#rev_slider_86_1").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_86_1");
        }else{
          revapi86 = tpj("#rev_slider_86_1").show().revolution({
            sliderType:"standard",
jsFileLocation:"//localhost/revslider-standalone/revslider/public/assets/js/",
            sliderLayout:"fullwidth",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
                             mouseScrollReverse:"default",
              onHoverStop:"off",
              touch:{
                touchenabled:"on",
                touchOnDesktop:"off",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              arrows: {
                style:"metis",
                enable:true,
                hide_onmobile:true,
                hide_under:768,
                hide_onleave:false,
                tmp:'',
                left: {
                  h_align:"left",
                  v_align:"center",
                  h_offset:0,
                                    v_offset:0
                },
                right: {
                  h_align:"right",
                  v_align:"center",
                  h_offset:0,
                                    v_offset:0
                }
              }
            },
            responsiveLevels:[1240,1024,778,480],
            visibilityLevels:[1240,1024,778,480],
            gridwidth:[1400,1200,1000,480],
            gridheight:[900,900,700,700],
            lazyType:"single",
            parallax: {
              type:"3D",
              origo:"slidercenter",
              speed:400,
                          speedbg:0,
                          speedls:0,
              levels:[5,10,15,20,25,30,35,40,-5,-10,-15,-20,-25,-30,-35,55],
              ddd_shadow:"off",
              ddd_bgfreeze:"off",
              ddd_overflow:"hidden",
              ddd_layer_overflow:"visible",
              ddd_z_correction:65,
              disable_onmobile:"on"
            },
            spinner:"off",
            stopLoop:"on",
            stopAfterLoops:0,
            stopAtSlide:1,
            shuffle:"off",
            autoHeight:"off",
            disableProgressBar:"on",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
        }
      }); /*ready*/
    </script>
 
</body>
</html>

