<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Slider Tampon" />
<meta name="description" content="Tampon - Slider Revolution" />
<meta name="author" content="TAMPON" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>TAMPON / Slider Revolution</title>







 




<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
 <link rel="stylesheet" type="text/css" href="revolution/fonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="revolution/css/rev-slider-arrow.css" media="screen" />











 
 
</head>

<body>
 
<div class="wrapper">








<!--=================================
 header -->


<!--=================================
 banner -->

 <section class="rev-slider">
<div id="rev_slider_140_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="travel-static-captions126" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3 fullwidth mode -->
  <div id="rev_slider_140_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3">
<ul>  <!-- SLIDE  -->
    <li data-index="rs-388" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/travel-static-captions126/100x50_3307b-143.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Number One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/travel-static-captions126/3307b-143.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-389" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/travel-static-captions126/100x50_91833-144.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Number Two" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/travel-static-captions126/91833-144.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-390" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/travel-static-captions126/100x50_8be5b-104.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Number Three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/travel-static-captions126/8be5b-104.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-391" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/travel-static-captions126/100x50_059eb-109.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Number Four" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/travel-static-captions126/059eb-109.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
</ul>
<div style="" class="tp-static-layers">

    <!-- LAYER NR. 1 -->
    <div class="tp-caption Travel-BigCaption   tp-resizeme tp-static-layer" 
       id="slider-140-layer-1" 
       data-x="['left','left','left','left']" data-hoffset="['90','90','60','40']" 
       data-y="['top','top','top','top']" data-voffset="['235','195','145','125']" 
            data-fontsize="['50','50','50','35']"
      data-lineheight="['50','50','50','35']"
      data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

      data-startslide="0" 
      data-endslide="3" 
            data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; white-space: nowrap;text-transform:left;">Discover the Worlds<br/>
most Amazing Places </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption Travel-SmallCaption   tp-resizeme tp-static-layer" 
       id="slider-140-layer-2" 
       data-x="['left','left','left','left']" data-hoffset="['90','90','60','40']" 
       data-y="['top','top','top','top']" data-voffset="['353','313','263','203']" 
            data-fontsize="['25','25','25','20']"
      data-lineheight="['30','30','30','20']"
      data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-responsive_offset="on" 

      data-startslide="0" 
      data-endslide="3" 
            data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; white-space: nowrap;text-transform:left;">Travel with us today at a discount rate. </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption Travel-CallToAction rev-btn  tp-static-layer" 
       id="slider-140-layer-3" 
       data-x="['left','left','left','left']" data-hoffset="['90','90','60','40']" 
       data-y="['top','top','top','top']" data-voffset="['416','376','326','251']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
      data-responsive_offset="on" 
      data-responsive="off"
      data-startslide="0" 
      data-endslide="3" 
            data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(255,255,255,0.15);bw:2px 2px 2px 2px;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 7; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Click Here <i class="fa-icon-long-arrow-right" style="margin-left:10px;"></i> </div>
</div>
<div class="tp-bannertimer tp-bottom" style="height: 7px; background: rgba(255,255,255,0.25);"></div> </div>
</div>
</section>



 
 </div>
 


 
<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="revolution/js/revolution.addon.filmstrip.min.js"></script> 

<!-- revolution custom --> 
<script src="revolution/js/revolution-custom.js"></script> 

<!-- custom -->
<script src="js/custom.js"></script>

 

<script type="text/javascript">
                  var revapi140,
                tpj=jQuery;
            tpj(document).ready(function() {
        if(tpj("#rev_slider_140_1").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_140_1");
        }else{
          revapi140 = tpj("#rev_slider_140_1").show().revolution({
            sliderType:"standard",
jsFileLocation:"//localhost/revslider-standalone/revslider/public/assets/js/",
            sliderLayout:"fullwidth",
            dottedOverlay:"none",
            delay:6000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
                             mouseScrollReverse:"default",
              onHoverStop:"off",
              touch:{
                touchenabled:"on",
                touchOnDesktop:"off",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              bullets: {
                enable:true,
                hide_onmobile:true,
                hide_under:600,
                style:"hermes",
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                direction:"vertical",
                h_align:"right",
                v_align:"center",
                h_offset:30,
                v_offset:0,
                                space:5,
                tmp:''
              }
            },
            viewPort: {
              enable:true,
              outof:"pause",
                            visible_area:"80%",
                            presize:false
            },
            responsiveLevels:[1240,1024,778,480],
            visibilityLevels:[1240,1024,778,480],
            gridwidth:[1240,1024,778,480],
            gridheight:[900,600,500,400],
            lazyType:"none",
            parallax: {
              type:"mouse",
              origo:"slidercenter",
              speed:2000,
                          speedbg:0,
                          speedls:0,
              levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
            },
            shadow:0,
            spinner:"off",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
        }
      }); /*ready*/
    </script>
 
</body>
</html>

