<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Slider Tampon" />
<meta name="description" content="Tampon - Slider Revolution" />
<meta name="author" content="TAMPON" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>TAMPON / Slider Revolution</title>






 




<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="revolution/css/revolution.addon.particles.css" media="screen" />
<link rel="stylesheet" type="text/css" href="revolution/css/rev-slider-arrow.css" media="screen" />











 
 
</head>

<body>
 
<div class="wrapper">








<!--=================================
 header -->


<!--=================================
 banner -->

 <section class="rev-slider">
  <div id="rev_slider_194_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="content-tabs" data-source="gallery" style="margin:0px auto;background:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3 auto mode -->
  <div id="rev_slider_194_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3">
<ul>  <!-- SLIDE  -->
    <li data-index="rs-569" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/content-tabs/60x60_ce1c1-girl-984060_1920.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="THE TOUCH" data-param1="May 24, 2015" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/content-tabs/ce1c1-girl-984060_1920.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
       id="slide-569-layer-6" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']" 
       data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; white-space: nowrap; font-size: 40px; line-height: 40px; letter-spacing: ;">THE TOUCH </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
       id="slide-569-layer-7" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']" 
       data-y="['top','top','top','top']" data-voffset="['40','40','40','40']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; white-space: nowrap; color: rgba(255,255,255,0.5); letter-spacing: px;">PHOTOGRAPHY </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption Photography-Textblock   tp-resizeme" 
       id="slide-569-layer-8" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']" 
       data-y="['top','top','top','top']" data-voffset="['120','120','120','120']" 
            data-width="350"
      data-height="150"
      data-whitespace="normal"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"split":"chars","split_direction":"forward","splitdelay":0.01,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; min-width: 350px; max-width: 350px; max-width: 150px; max-width: 150px; white-space: normal; font-size: 15px; line-height: 25px; letter-spacing: ;">The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart. </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-570" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/content-tabs/60x60_6f08c-162.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="FLIMSY SHELTER" data-param1="May 24, 2015" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/content-tabs/6f08c-162.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 4 -->
    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
       id="slide-570-layer-6" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']" 
       data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; white-space: nowrap; font-size: 40px; line-height: 40px; letter-spacing: ;">FLIMSY SHELTER </div>

    <!-- LAYER NR. 5 -->
    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
       id="slide-570-layer-7" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']" 
       data-y="['top','top','top','top']" data-voffset="['40','40','40','40']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; white-space: nowrap; color: rgba(255,255,255,0.5); letter-spacing: ;">PHOTOGRAPHY </div>

    <!-- LAYER NR. 6 -->
    <div class="tp-caption Photography-Textblock   tp-resizeme" 
       id="slide-570-layer-8" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']" 
       data-y="['top','top','top','top']" data-voffset="['120','120','120','120']" 
            data-width="350"
      data-height="150"
      data-whitespace="normal"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"split":"chars","split_direction":"forward","splitdelay":0.01,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; min-width: 350px; max-width: 350px; max-width: 150px; max-width: 150px; white-space: normal; font-size: 15px; line-height: 25px; letter-spacing: ;">Be true to yourself. Make each day a masterpiece. Help others. Drink deeply from good books. Make friendship a fine art. Build a shelter against a rainy day. </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-571" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/content-tabs/60x60_ce4ef-17.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="GOLDEN SUN" data-param1="May 24, 2015" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/content-tabs/ce4ef-17.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 7 -->
    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
       id="slide-571-layer-6" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']" 
       data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; white-space: nowrap; font-size: 40px; line-height: 40px; letter-spacing: ;">GOLDEN SUN </div>

    <!-- LAYER NR. 8 -->
    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
       id="slide-571-layer-7" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']" 
       data-y="['top','top','top','top']" data-voffset="['40','40','40','40']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"split":"chars","split_direction":"forward","splitdelay":0.03,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; white-space: nowrap; color: rgba(255,255,255,0.5); letter-spacing: ;">PHOTOGRAPHY </div>

    <!-- LAYER NR. 9 -->
    <div class="tp-caption Photography-Textblock   tp-resizeme" 
       id="slide-571-layer-8" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']" 
       data-y="['top','top','top','top']" data-voffset="['120','120','120','120']" 
            data-width="350"
      data-height="150"
      data-whitespace="normal"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="on" 

            data-frames='[{"delay":500,"split":"chars","split_direction":"forward","splitdelay":0.01,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; min-width: 350px; max-width: 350px; max-width: 150px; max-width: 150px; white-space: normal; font-size: 15px; line-height: 25px; letter-spacing: ;">Remember even though the outside world might be raining, if you keep on smiling the sun will soon show its face and smile back at you. </div>
  </li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
</div> 
</section>



 
 </div>
 


 
<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="revolution/js/revolution.addon.particles.min.js"></script>

<!-- revolution custom --> 
<script src="revolution/js/revolution-custom.js"></script> 

<!-- custom -->
<script src="js/custom.js"></script>

 

<script type="text/javascript">
                  var revapi194,
                tpj=jQuery;
            tpj(document).ready(function() {
        if(tpj("#rev_slider_194_1").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_194_1");
        }else{
          revapi194 = tpj("#rev_slider_194_1").show().revolution({
            sliderType:"standard",
jsFileLocation:"//localhost/revslider-standalone/revslider/public/assets/js/",
            sliderLayout:"auto",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
                             mouseScrollReverse:"default",
              onHoverStop:"off",
              touch:{
                touchenabled:"on",
                touchOnDesktop:"off",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              bullets: {
                enable:true,
                hide_onmobile:false,
                style:"hermes",
                hide_onleave:false,
                direction:"vertical",
                h_align:"right",
                v_align:"center",
                h_offset:30,
                v_offset:0,
                                space:10,
                tmp:''
              }
              ,
              thumbnails: {
                style:"gyges",
                enable:true,
                width:60,
                height:60,
                min_width:60,
                wrapper_padding:0,
                wrapper_color:"transparent",
                tmp:'<span class="tp-thumb-img-wrap">  <span class="tp-thumb-image"></span></span>',
                visibleAmount:10,
                hide_onmobile:false,
                hide_onleave:false,
                direction:"horizontal",
                span:false,
                position:"inner",
                space:10,
                h_align:"left",
                v_align:"bottom",
                h_offset:30,
                                v_offset:30
              }
            },
            responsiveLevels:[1240,1024,778,480],
            visibilityLevels:[1240,1024,778,480],
            gridwidth:[1024,850,778,480],
            gridheight:[900,500,450,400],
            lazyType:"none",
            shadow:0,
            spinner:"off",
            stopLoop:"on",
            stopAfterLoops:0,
            stopAtSlide:1,
            shuffle:"off",
            autoHeight:"off",
            disableProgressBar:"on",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
        }
      }); /*ready*/
    </script>
 
</body>
</html>

