<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Slider Tampon" />
<meta name="description" content="Tampon - Slider Revolution" />
<meta name="author" content="TAMPON" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>TAMPON / Slider Revolution</title>






 




<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />

<link rel="stylesheet" type="text/css" href="revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" type="text/css" href="revolution/fonts/font-awesome/css/font-awesome.css">


<link rel="stylesheet" type="text/css" href="revolution/css/rev-slider-arrow.css" media="screen" />











 
 
</head>

<body>
 
<div class="wrapper">








<!--=================================
 header -->


<!--=================================
 banner -->

 <section class="rev-slider">
<div id="rev_slider_16_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="scroll-effect16" data-source="gallery" style="background:#111111;padding:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3 fullscreen mode -->
  <div id="rev_slider_16_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.6.3">
<ul>  <!-- SLIDE  -->
    <li data-index="rs-37" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="revolution/assets/demo/scroll-effect16/100x50_b0e44-10.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Big &amp; Bold" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/scroll-effect16/b0e44-10.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption tp-shape tp-shapewrapper  " 
       id="slide-37-layer-11" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
            data-width="full"
      data-height="['400','400','400','550']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(0,0,0,0.5);background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);cursor:default;"> </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption BigBold-Title   tp-resizeme" 
       id="slide-37-layer-1" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','160']" 
            data-fontsize="['110','100','70','60']"
      data-lineheight="['100','90','60','60']"
      data-width="['none','none','none','400']"
      data-height="none"
      data-whitespace="['nowrap','nowrap','nowrap','normal']"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="off" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; white-space: nowrap; letter-spacing: px;text-transform:uppercase;">Tampon </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption BigBold-SubTitle  " 
       id="slide-37-layer-4" 
       data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','58']" 
            data-fontsize="['15','15','15','13']"
      data-lineheight="['24','24','24','20']"
      data-width="['410','410','410','280']"
      data-height="['60','100','100','100']"
      data-whitespace="normal"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal; color: rgba(255,255,255,0.5); letter-spacing: px;">Scroll down to see the effects. Take your project to a new level with the Tampon </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption BigBold-Button rev-btn " 
       id="slide-37-layer-7" 
       data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bc:rgba(255,255,255,1);bw:1 1 1 1;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[15,15,15,15]"
            data-paddingright="[50,50,50,50]"
            data-paddingbottom="[15,15,15,15]"
            data-paddingleft="[50,50,50,50]"

            style="z-index: 8; white-space: nowrap; letter-spacing: ;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>

    <!-- LAYER NR. 5 -->
    <div class="tp-caption BigBold-Button rev-btn " 
       id="slide-37-layer-12" 
       data-x="['left','left','left','left']" data-hoffset="['676','676','226','216']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bc:rgba(255,255,255,1);bw:1 1 1 1;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[15,15,15,15]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[15,15,15,15]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 9; white-space: nowrap; letter-spacing: ;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-chevron-right"></i> </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-38" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="revolution/assets/demo/scroll-effect16/100x50_typing_cover.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="HTML5 Video" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/scroll-effect16/typing_cover.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- BACKGROUND VIDEO LAYER -->
    <div class="rs-background-video-layer" 
      data-forcerewind="on" 
      data-volume="mute" 
      data-videowidth="100%" 
      data-videoheight="100%" 
      data-videomp4="revolution/assets/demo/scroll-effect16/typing.mp4" 
            data-videopreload="auto" 
      data-videostartat="00:04" 
      data-videoloop="loop" 
      data-forceCover="1" 
      data-aspectratio="16:9" 
      data-autoplay="true" 
      data-autoplayonlyfirsttime="false" 
></div>
    <!-- LAYER NR. 6 -->
    <div class="tp-caption tp-shape tp-shapewrapper  " 
       id="slide-38-layer-11" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
            data-width="full"
      data-height="['400','400','400','550']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(0,0,0,0.5);background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);cursor:default;"> </div>

    <!-- LAYER NR. 7 -->
    <div class="tp-caption BigBold-Title   tp-resizeme" 
       id="slide-38-layer-1" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','160']" 
            data-fontsize="['110','100','70','60']"
      data-lineheight="['100','90','60','60']"
      data-width="['none','none','none','400']"
      data-height="none"
      data-whitespace="['nowrap','nowrap','nowrap','normal']"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="off" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; white-space: nowrap; letter-spacing: px;text-transform:uppercase;">Lightweight </div>

    <!-- LAYER NR. 8 -->
    <div class="tp-caption BigBold-SubTitle  " 
       id="slide-38-layer-4" 
       data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','58']" 
            data-fontsize="['15','15','15','13']"
      data-lineheight="['24','24','24','20']"
      data-width="['410','410','410','280']"
      data-height="['60','100','100','100']"
      data-whitespace="normal"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal; color: rgba(255,255,255,0.5); letter-spacing: px;">Truly ideal solutions for your business. Create a website that you are gonna be proud of.  </div>

    <!-- LAYER NR. 9 -->
    <div class="tp-caption BigBold-Button rev-btn " 
       id="slide-38-layer-7" 
       data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bc:rgba(255,255,255,1);bw:1 1 1 1;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[15,15,15,15]"
            data-paddingright="[50,50,50,50]"
            data-paddingbottom="[15,15,15,15]"
            data-paddingleft="[50,50,50,50]"

            style="z-index: 8; white-space: nowrap; letter-spacing: ;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>

    <!-- LAYER NR. 10 -->
    <div class="tp-caption BigBold-Button rev-btn " 
       id="slide-38-layer-12" 
       data-x="['left','left','left','left']" data-hoffset="['676','676','226','216']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bc:rgba(255,255,255,1);bw:1 1 1 1;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[15,15,15,15]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[15,15,15,15]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 9; white-space: nowrap; letter-spacing: ;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-chevron-right"></i> </div>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-39" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="revolution/assets/demo/scroll-effect16/100x50_428a4-11.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Scroll Down" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/scroll-effect16/428a4-11.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 11 -->
    <div class="tp-caption tp-shape tp-shapewrapper  " 
       id="slide-39-layer-11" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
            data-width="full"
      data-height="['400','400','400','550']"
      data-whitespace="nowrap"
 
            data-type="shape" 
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(0,0,0,0.5);background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);cursor:default;"> </div>

    <!-- LAYER NR. 12 -->
    <div class="tp-caption BigBold-Title   tp-resizeme" 
       id="slide-39-layer-1" 
       data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['111','110','180','160']" 
            data-fontsize="['110','100','70','60']"
      data-lineheight="['100','90','60','60']"
      data-width="['none','none','none','400']"
      data-height="none"
      data-whitespace="['nowrap','nowrap','nowrap','normal']"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="off" 

            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; white-space: nowrap; letter-spacing: px;">SCROLL DOWN </div>

    <!-- LAYER NR. 13 -->
    <div class="tp-caption BigBold-SubTitle  " 
       id="slide-39-layer-4" 
       data-x="['left','left','left','left']" data-hoffset="['54','55','33','20']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','58']" 
            data-fontsize="['15','15','15','13']"
      data-lineheight="['24','24','24','20']"
      data-width="['410','410','410','280']"
      data-height="['60','100','100','100']"
      data-whitespace="normal"
 
            data-type="text" 
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal; color: rgba(255,255,255,0.5); letter-spacing: px;">We are an innovative agency. We develop and design customers around the world. </div>

    <!-- LAYER NR. 14 -->
    <div class="tp-caption BigBold-Button rev-btn " 
       id="slide-39-layer-7" 
       data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bc:rgba(255,255,255,1);bw:1 1 1 1;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[15,15,15,15]"
            data-paddingright="[50,50,50,50]"
            data-paddingbottom="[15,15,15,15]"
            data-paddingleft="[50,50,50,50]"

            style="z-index: 8; white-space: nowrap; letter-spacing: ;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>

    <!-- LAYER NR. 15 -->
    <div class="tp-caption BigBold-Button rev-btn " 
       id="slide-39-layer-12" 
       data-x="['left','left','left','left']" data-hoffset="['676','676','226','216']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
            data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bc:rgba(255,255,255,1);bw:1 1 1 1;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[15,15,15,15]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[15,15,15,15]"
            data-paddingleft="[20,20,20,20]"

            style="z-index: 9; white-space: nowrap; letter-spacing: ;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-chevron-right"></i> </div>
  </li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
</div>   
</section>



 
 </div>
 


 
<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- custom -->
<script src="js/custom.js"></script>

 

<script type="text/javascript">
                  var revapi16,
                tpj=jQuery;
            tpj(document).ready(function() {
        if(tpj("#rev_slider_16_1").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_16_1");
        }else{
          revapi16 = tpj("#rev_slider_16_1").show().revolution({
            sliderType:"standard",
jsFileLocation:"//localhost/revslider-standalone/revslider/public/assets/js/",
            sliderLayout:"fullscreen",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
                             mouseScrollReverse:"default",
              onHoverStop:"off",
              touch:{
                touchenabled:"on",
                touchOnDesktop:"off",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              bullets: {
                enable:true,
                hide_onmobile:true,
                hide_under:960,
                style:"zeus",
                hide_onleave:false,
                direction:"horizontal",
                h_align:"right",
                v_align:"bottom",
                h_offset:80,
                v_offset:50,
                                space:5,
                tmp:'<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title">{{title}}</span>'
              }
            },
            responsiveLevels:[1240,1024,778,480],
            visibilityLevels:[1240,1024,778,480],
            gridwidth:[1920,1024,778,480],
            gridheight:[900,768,960,720],
            lazyType:"none",
            parallax: {
              type:"mouse",
              origo:"slidercenter",
              speed:2000,
                          speedbg:0,
                          speedls:0,
              levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
              disable_onmobile:"on"
            },
            shadow:0,
            spinner:"off",
            stopLoop:"on",
            stopAfterLoops:0,
            stopAtSlide:1,
            shuffle:"off",
            autoHeight:"off",
            fullScreenAutoWidth:"off",
            fullScreenAlignForce:"off",
            fullScreenOffsetContainer: "",
            fullScreenOffset: "60px",
            disableProgressBar:"on",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
var newCall = new Object(),
  cslide;

newCall.callback = function() { 
  var proc = revapi16.revgetparallaxproc(),
    fade = 1+proc,
    scale = 1+(Math.abs(proc)/10);

    punchgs.TweenLite.set(revapi16.find('.slotholder, .rs-background-video-layer'),{opacity:fade,scale:scale});   
}
newCall.inmodule = "parallax";
newCall.atposition = "start";

revapi16.bind("revolution.slide.onloaded",function (e) {
  revapi16.revaddcallback(newCall);
});       }
      }); /*ready*/
    </script>
 
</body>
</html>

