<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Slider Tampon" />
<meta name="description" content="Tampon - Slider Revolution" />
<meta name="author" content="TAMPON" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>TAMPON / Slider Revolution</title>







 




<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="revolution/css/rev-slider-arrow.css" media="screen" />











 
 
</head>

<body>
 
<div class="wrapper">








<!--=================================
 header -->


<!--=================================
 banner -->

 <section class="rev-slider">
<div id="rev_slider_104_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="image-gallery" data-source="gallery" style="margin:0px auto;background:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3 auto mode -->
  <div id="rev_slider_104_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3">
<ul>  <!-- SLIDE  -->
    <li data-index="rs-270" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/image-gallery/100x100_6b880-99.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Brand New Mustand" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/image-gallery/dummy.png"  alt=""  data-lazyload="revolution/assets/demo/image-gallery/6b880-99.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-271" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/image-gallery/100x100_53598-101.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Sun Touching Mountains" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/image-gallery/dummy.png"  alt=""  data-lazyload="revolution/assets/demo/image-gallery/53598-101.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-272" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/image-gallery/100x100_898c8-100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Woman Chill in Pool" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/image-gallery/dummy.png"  alt=""  data-lazyload="revolution/assets/demo/image-gallery/898c8-100.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-273" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/image-gallery/100x100_7e512-102.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Cool Pair of Glasses" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/image-gallery/dummy.png"  alt=""  data-lazyload="revolution/assets/demo/image-gallery/7e512-102.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-274" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/image-gallery/100x100_46e3c-22.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Double Exposure Reflection" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/image-gallery/dummy.png"  alt=""  data-lazyload="revolution/assets/demo/image-gallery/46e3c-22.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-275" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/image-gallery/100x100_180b9-103.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Man&#039;s Best Friend" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/image-gallery/dummy.png"  alt=""  data-lazyload="revolution/assets/demo/image-gallery/180b9-103.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-276" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/image-gallery/100x100_331f8-104.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Great Road Panorama" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/image-gallery/dummy.png"  alt=""  data-lazyload="revolution/assets/demo/image-gallery/331f8-104.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-277" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="revolution/assets/demo/image-gallery/100x100_cd0b4-105.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="My Way or the Highway" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/demo/image-gallery/dummy.png"  alt=""  data-lazyload="revolution/assets/demo/image-gallery/cd0b4-105.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
  </li>
</ul>
<div style="" class="tp-static-layers">

    <!-- LAYER NR. 1 -->
    <div class="tp-caption rev-btn  tp-static-layer" 
       id="slider-104-layer-1" 
       data-x="right" data-hoffset="10" 
       data-y="65" 
            data-width="['50']"
      data-height="['50']"
      data-visibility="['on','on','on','off']"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"togglefullscreen","delay":""}]'
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
      data-startslide="0" 
      data-endslide="7" 
            data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":"sliderenter","ease":"Power2.easeInOut"},{"delay":"sliderleave","speed":500,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,0.65);"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[1,1,1,1]"
            data-paddingright="[1,1,1,1]"
            data-paddingbottom="[1,1,1,1]"
            data-paddingleft="[1,1,1,1]"

            style="z-index: 5; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; font-size: 25px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1);font-family:Roboto;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><div class="rs-untoggled-content"><i class="fa-icon-search-plus"></i> </div><div class="rs-toggled-content"><i class="fa-icon-search-minus"></i></div></div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption rev-btn  tp-static-layer" 
       id="slider-104-layer-2" 
       data-x="right" data-hoffset="10" 
       data-y="10" 
            data-width="['50']"
      data-height="['50']"
 
            data-type="button" 
      data-actions='[{"event":"click","action":"toggleslider","delay":""}]'
      data-basealign="slide" 
      data-responsive_offset="off" 
      data-responsive="off"
      data-startslide="0" 
      data-endslide="7" 
            data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":"sliderenter","ease":"Power2.easeInOut"},{"delay":"sliderleave","speed":500,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,0.65);"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[1,1,1,1]"
            data-paddingright="[1,1,1,1]"
            data-paddingbottom="[1,1,1,1]"
            data-paddingleft="[1,1,1,1]"

            style="z-index: 6; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; font-size: 20px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1);font-family:Roboto;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><div class="rs-untoggled-content"><i class="fa-icon-play"></i> </div><div class="rs-toggled-content"><i class="fa-icon-pause"></i></div></div>
</div>
<div class="tp-bannertimer" style="height: 5px; background: rgba(255,255,255,0.50);"></div> </div>
</div>
</section>



 
 </div>
 


 
<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="revolution/js/revolution.addon.filmstrip.min.js"></script> 

<!-- revolution custom --> 
<script src="revolution/js/revolution-custom.js"></script> 

<!-- custom -->
<script src="js/custom.js"></script>

 

<script type="text/javascript">
                  var revapi104,
                tpj=jQuery;
            tpj(document).ready(function() {
        if(tpj("#rev_slider_104_1").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_104_1");
        }else{
          revapi104 = tpj("#rev_slider_104_1").show().revolution({
            sliderType:"standard",
jsFileLocation:"//localhost/revslider-standalone/revslider/public/assets/js/",
            sliderLayout:"auto",
            dottedOverlay:"none",
            delay:7000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
                             mouseScrollReverse:"default",
              onHoverStop:"off",
              touch:{
                touchenabled:"on",
                touchOnDesktop:"off",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              arrows: {
                style:"uranus",
                enable:true,
                hide_onmobile:false,
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                tmp:'',
                left: {
                  h_align:"left",
                  v_align:"center",
                  h_offset:17,
                                    v_offset:0
                },
                right: {
                  h_align:"right",
                  v_align:"center",
                  h_offset:17,
                                    v_offset:0
                }
              }
              ,
              tabs: {
                style:"gyges",
                enable:true,
                width:240,
                height:80,
                min_width:240,
                wrapper_padding:20,
                wrapper_color:"rgba(0,0,0,0.50)",
                tmp:'<div class="tp-tab-content">  <span class="tp-tab-date">{{param1}}</span>  <span class="tp-tab-title">{{title}}</span></div><div class="tp-tab-image"></div>',
                visibleAmount: 10,
                hide_onmobile: true,
                hide_under:768,
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                hide_delay:200,
                direction:"horizontal",
                span:true,
                position:"inner",
                space:0,
                h_align:"left",
                v_align:"bottom",
                h_offset:0,
                                v_offset:0
              }
            },
            visibilityLevels:[1240,1024,778,480],
            gridwidth:1000,
            gridheight:667,
            lazyType:"single",
            shadow:0,
            spinner:"off",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
        }
      }); /*ready*/
    </script>
 
</body>
</html>

